{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="container my-5">
  <div class="row">

    <!-- Products Section -->
    <div class="col-lg-8">
        <h2>Products</h2>
        <!-- Table to display products -->
        <div class="table-responsive">
          <table class="table">
            <thead>
              <tr>
                <th scope="col"></th>
                <th scope="col">Product</th>
                <th scope="col">Quantity</th>
                <th scope="col">Price</th>
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody>
              {% for item_id, item in cart_items.items %}
              <tr>
                <td>
                  <a href="{% url 'product_detail' pk=item_id %}"><img src="{{ item.image_url }}" alt="{{ item.name }}" class="img-fluid custom-product-image"></a>
                </td>
                <td>{{ item.name }}</td>
                <td>{{ item.quantity }}</td>
                <td>€{{ item.price }}</td>
                <td>
                  <form action="{% url 'cart_delete' %}" method="POST">
                    {% csrf_token %}
                    <input type="hidden" name="product_id" value="{{ item_id }}">
                    <button type="submit" class="btn btn-outline-danger"><i class="fas fa-trash-alt"></i></button>
                  </form>
                </td>
              </tr>
              {% empty %}
              <tr>
                <td colspan="5">Your cart is empty.</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
    </div>

    <!-- Order Summary Section -->
    <div class="col-lg-4">
      <div class="bg-light p-4">
        <h2 class="mb-4">ORDER SUMMARY</h2>
        <div class="d-flex justify-content-between mb-3">
          <span>Subtotal:</span>
          <span>€ {{ subtotal|floatformat:2 }}</span> 
        </div>
        <div class="d-flex justify-content-between mb-3">
          <span>Delivery fee:</span>
          <span>€ {{ delivery|floatformat:2 }}</span> 
        </div>
        <hr>
        <div class="d-flex justify-content-between mb-3">
          <span>Order Total:</span>
          <span>€ {{ total|floatformat:2 }}</span>
        </div>
        <hr>
   
        <a href="{% url 'checkout' %}" class="btn btn-primary mb-2 d-block">Proceed to Checkout</a>
        <a href="{% url 'products' %}" class="btn btn-secondary d-block">Continue Shopping</a>
      </div>
    </div>

  </div>
</div>
{% endblock %}