{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}
<div class="container mt-4">
    <div class="row">
        <!-- Checkout Form -->
        <div class="col-lg-6">
            <h2>CHECKOUT</h2>
            <p class="mb-4">Please fill out the form below to complete your order</p>
            <form method="post" action="{% url 'checkout' %}">
                {% csrf_token %}
                {{ form|crispy }}
                <button id="checkout-button" class="btn btn-primary mb-2">Place Order</button>
            </form>
        </div>

        <!-- Order Summary -->
        <div class="col-lg-6">
            <div class="bg-light p-4">
                <h2 class="mb-4">ORDER SUMMARY</h2>
                <!-- Cart Items -->
                {% for item_id, item in cart_items.items %}
                <div class="d-flex justify-content-between mb-2">
                    <span>{{ item.name }} x {{ item.quantity }}</span>
                    <span>$ {{ item.price|floatformat:2 }}</span>
                </div>
                {% endfor %}
                <hr>
                <!-- Subtotal -->
                <div class="d-flex justify-content-between mb-3">
                    <span>Subtotal:</span>
                    <span>$ {{ subtotal|floatformat:2 }}</span>
                </div>
                <!-- Delivery Fee -->
                <div class="d-flex justify-content-between mb-3">
                    <span>Delivery fee:</span>
                    <span>$ {{ delivery|floatformat:2 }}</span>
                </div>
                <hr>
                <!-- Order Total -->
                <div class="d-flex justify-content-between mb-3">
                    <span>Order Total:</span>
                    <span>$ {{ total|floatformat:2 }}</span>
                </div>
                <hr>
            </div>
        </div>
    </div>
</div>

{% endblock %}