@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo:wght@400;800&family=Rye&display=swap');

body {
    font-family: 'Nanum Myeongjo', serif !important;
}

.navbar-brand {
    font-family: 'Rye', cursive;
}

/*----------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------*/
/*-------------------------------- Home page  --------------------------------*/
/*----------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------*/

#homeCarousel img {
    height: 700px !important;
}

/*----------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------*/
/*--------------------------- Product_list page  -----------------------------*/
/*----------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------*/

.card-img-top {
    height: 250px;
    object-fit: cover;
}

/*----------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------*/
/*-------------------------- Product_detail page  ----------------------------*/
/*----------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------*/

.product-image-container {
    height: 400px;
    overflow: hidden;
}
  
.product-image {
    width: 100%;
    height: auto;
}

/*----------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------*/
/*------------------------------- Cart page  ---------------------------------*/
/*----------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------*/

.custom-product-image {
    max-width: 100px !important;
    height: 80px !important;
}

/*----------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------*/
/*---------------------------- Bootstrap toasts  -----------------------------*/
/*----------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------*/

.toast-container {
    top: 76px;
    z-index: 99999999999;
}

.toast-body {
    height: 45px;
}

/*----------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------*/
/*------ Media queries For medium screen sizes from 768px wide and down ------*/
/*----------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------*/

@media screen and (max-width: 768px) {
    .toast-container {
        top: 156px;
    }

    #homeCarousel img {
        height: 400px !important;
    }
}

/*----------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------*/
/*----------- Media queries For larger screen from 992px and above -----------*/
/*----------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------*/

@media (min-width: 992px) {
    #searchInput {
      width: 300px;
    }
  }