.toast-container {
    top: 76px;
    z-index: 99999999999;
}

.toast-body {
    height: 45px;
}

/*----------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------*/
/*------ Media queries For medium screen sizes from 768px wide and down ------*/
/*----------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------*/

@media screen and (max-width: 768px) {
    .toast-container {
        top: 156px;
    }
}