/*----------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------*/
/*--------------------------- Product_list page  -----------------------------*/
/*----------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------*/

.card-img-top {
    height: 250px;
    object-fit: cover;
}

/*----------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------*/
/*-------------------------- Product_detail page  ----------------------------*/
/*----------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------*/

.product-image-container {
    height: 400px;
    overflow: hidden;
}
  
.product-image {
    width: 100%;
    height: auto;
}

/*----------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------*/
/*---------------------------- Bootstrap toasts  -----------------------------*/
/*----------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------*/

.toast-container {
    top: 76px;
    z-index: 99999999999;
}

.toast-body {
    height: 45px;
}

/*----------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------*/
/*------ Media queries For medium screen sizes from 768px wide and down ------*/
/*----------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------*/

@media screen and (max-width: 768px) {
    .toast-container {
        top: 156px;
    }

    #homeCarousel img {
        height: 400px !important;
    }
}

/*----------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------*/
/*----------- Media queries For larger screen from 992px and above -----------*/
/*----------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------*/

@media (min-width: 992px) {
    #searchInput {
      width: 400px;
    }
  }