<div class="navbar navbar-expand-lg navbar-dark bg-secondary">
    <div class="container">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavBottom" aria-controls="navbarNavBottom" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-center" id="navbarNavBottom">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="{% url 'home' %}">Home</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Shop
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <li><a class="dropdown-item" href="{% url 'products' %}">All Products</a></li>
              <li><a class="dropdown-item" href="{% url 'products' %}?category={{ 'Meat & Poultry'|urlencode }}">Meat & Poultry</a></li>
              <li><a class="dropdown-item" href="{% url 'products' %}?category={{ 'Seafood'|urlencode }}">Seafood</a></li>
              <li><a class="dropdown-item" href="{% url 'products' %}?category={{ 'Dairy & Eggs'|urlencode }}">Dairy & Eggs</a></li>
              <li><a class="dropdown-item" href="{% url 'products' %}?category={{ 'Fruits & Vegetables'|urlencode }}">Fruits & Vegetables</a></li>
              <li><a class="dropdown-item" href="{% url 'products' %}?category={{ 'Grains & Flour'|urlencode }}">Grains & Flour</a></li>
              <li><a class="dropdown-item" href="{% url 'products' %}?category={{ 'Spices & Seasonings'|urlencode }}">Spices & Seasonings</a></li>
              <li><a class="dropdown-item" href="{% url 'products' %}?category={{ 'Frozen Foods'|urlencode }}">Frozen Foods</a></li>
              <li><a class="dropdown-item" href="{% url 'products' %}?category={{ 'Canned & Packaged Foods'|urlencode }}">Canned & Packaged Foods</a></li>
              <li><a class="dropdown-item" href="{% url 'products' %}?category={{ 'Drinks'|urlencode }}">Drinks</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'contact_form' %}">Contact Us</a>
          </li>
        </ul>
      </div>
    </div>
  </div>