<div class="navbar navbar-expand-lg navbar-dark bg-secondary">
    <div class="container">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavBottom" aria-controls="navbarNavBottom" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-center" id="navbarNavBottom">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="index.html">Home</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Shop
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <li><a class="dropdown-item" href="#">All Products</a></li>
              <li><a class="dropdown-item" href="#">Meat & Poultry</a></li>
              <li><a class="dropdown-item" href="#">Seafood</a></li>
              <li><a class="dropdown-item" href="#">Dairy & Eggs</a></li>
              <li><a class="dropdown-item" href="#">Fruits & Vegetables</a></li>
              <li><a class="dropdown-item" href="#">Grains & Flour</a></li>
              <li><a class="dropdown-item" href="#">Spices & Seasonings</a></li>
              <li><a class="dropdown-item" href="#">Frozen Foods</a></li>
              <li><a class="dropdown-item" href="#">Canned & Packaged Foods</a></li>
              <li><a class="dropdown-item" href="#">Drinks</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">About us</a>
          </li>
        </ul>
      </div>
    </div>
  </div>