{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="container mt-4">
    <div class="row">
      <!-- Product Listing -->
      <div class="col-lg-12">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4">
          <!-- Product Cards (Repeat this block for each product) -->
          {% for product in products %}
            <!-- Product Cards (Repeat this block for each product) -->
            <div class="col mb-4">
              <div class="card">
                <img src="{{ product.image.url }}" class="card-img-top" alt="{{ product.name }}">
                <div class="card-body">
                  <h5 class="card-title">{{ product.name }}</h5>
                  <p class="card-text">€ {{ product.price }} </p>
                  <a href="#" class="btn btn-primary">Add to Cart</a>
                </div>
              </div>
            </div>
          {% endfor %}
  
        </div>
      </div>
    </div>
  </div>
{% endblock %}